@model zestork.Models.DataContract.LockedScreenModel

@{
    Layout = null;
}

<!doctype html>
<html ng-app="ZestorkAppAfterLogin">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<!-- Apple devices fullscreen -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<!-- Apple devices fullscreen -->
	<meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	
	<title>@Model.firstName @Model.lastName - Locked screen</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="../../../Resource/templates/afterLogin/web/css/bootstrap.min.css">
	<!-- Bootstrap responsive -->
	<link rel="stylesheet" href="../../../Resource/templates/afterLogin/web/css/bootstrap-responsive.min.css">
	<!-- Theme CSS -->
	<link rel="stylesheet" href="../../../Resource/templates/afterLogin/web/css/style.css">
	<!-- Color CSS -->
	<link rel="stylesheet" href="../../../Resource/templates/afterLogin/web/css/themes.css">


	<!-- jQuery -->
	<script src="../../../Resource/templates/afterLogin/web/js/jquery.min.js"></script>
	<script src="../../Content/lib/angular.min.js" type="text/javascript"></script>
	<script src="../../Content/lib/angular-cookies.js" type="text/javascript"></script>
	<script src="../../Content/app/afterLogin/afterLoginApp.js" type="text/javascript"></script>
	<script src="../../Content/app/afterLogin/LockedScreenTemplate.js" type="text/javascript"></script>
	<script src="../../Content/app/services/afterLoginServices.js" type="text/javascript"></script>

	<!-- Nice Scroll -->
	<script src="../../../Resource/templates/afterLogin/web/js/plugins/nicescroll/jquery.nicescroll.min.js"></script>
	<!-- Bootstrap -->
	<script src="../../../Resource/templates/afterLogin/web/js/bootstrap.min.js"></script>
	<script src="../../../Resource/templates/afterLogin/web/js/eakroko.js"></script>
	<script src="../../Content/js/jquery.blockUI.js"></script>

	<!--[if lte IE 9]>
		<script src="js/plugins/placeholder/jquery.placeholder.min.js"></script>
		<script>
			$(document).ready(function() {
				$('input, textarea').placeholder();
			});
		</script>
	<![endif]-->
	

	<!-- Favicon -->
	<link rel="shortcut icon" href="img/favicon.ico" />
	<!-- Apple devices Homescreen icon -->
	<link rel="apple-touch-icon-precomposed" href="../../../Resource/templates/afterLogin/web/img/apple-touch-icon-precomposed.png" />

</head>

<body class='locked @Model.PageThemeColor' ng-class="pageThemeColor" ng-controller="LockedUserPageController">
	<div class="wrapper">
		<div class="pull-left">
			<img src="@Model.imageUrl" alt="" width="200" height="200">
			<a href="/Account/logout/@Model.guid">Not @Model.firstName @Model.lastName?</a>
		</div>
		<div class="right">
			<div class="upper">
				<h2>@Model.firstName @Model.lastName</h2>
				<span>Locked</span>
			</div>
			<form action='@Url.Action("unlock", "Locked")' method='post'>
				<input type="password" placeholder="Password" name="password">
                <input type="password" id="LockedScreenGuid" placeholder="id" name="id" value="@Model.guid" style="display: none">
                <input type="password" id="LockedScreenUsername" placeholder="username" name="username" value="@Model.userName" style="display: none">
				<div>
					<input type="submit" value="Unlock" class='btn btn-inverse'>
				</div>
			</form>
            @Model.message
			<br>
			<a href="" ng-click="forgetLockedPassword()" style="color:white">forget password </a>          
		</div>
	</div>
	
</body>

</html>


